<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dungeons and Dragons Character</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nosifer&family=Rubik+Iso&family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Griffy&family=Nosifer&family=Rubik+Iso&family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Eater&family=Griffy&family=Nosifer&family=Rubik+Iso&family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Dungeons and Dragons Character Generator</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/api/character/create">Create Character</a>
      <a href="/api/charactersall">Your Characters</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="post">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>