<!-- Character_Weapon Template -->
<div id="character-weapon-details-template" style="display:none">
    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>Character ID:</strong> {{character_id}}</p>
    <p><strong>Weapon ID:</strong> {{weapon_id}}</p>
</div>
