<div>
  <form class="form question-form">
    <div class="form-group">
      <label for="user-login" class="class-id">Class ID:</label>
      <input class="form-input" type="text" id="class-id" />
    </div>
    <div class="form-group">
      <label for="password-login" class="race-id">Race ID:</label>
      <input class="form-input" type="text" id="race-id" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary login-font" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/form.js"></script>