<img src="/asset/dragon_art.jpg" class="background" />
<div class="magiccard">
  <div class="question-section">
    <form id="question-form">
      <h2>Character Creator</h2>
      <!-- Name Input -->
      <div id="nameInput">
        <label class="input" for="name">Character Name:</label>
      </div>
      <input class="input" type="text" id="name" name="name" required />
      <!-- Race Dropdown -->
      <div id="raceDropdown">
        <label class="input" for="race">Select your character's race:</label>
        <select class="select" id="race" name="race">
          <option value="1">Dwarf</option>
          <option value="2">Elf</option>
          <option value="3">Halfling</option>
          <option value="4">Human</option>
          <option value="5">Gnome</option>
          <option value="6">Tiefling</option>
          <!-- Add more race options as needed -->
        </select>
      </div>
      <!-- Question field -->
      <div id="question" class="hidden"></div>
      <!-- Answer buttons -->
      <div class="answers-section hidden">
        <div id="answer-buttons">
          <button id="answer1" data-class="1">Answer 1</button>
          <button id="answer2" data-class="2">Answer 2</button>
          <button id="answer3" data-class="3">Answer 3</button>
          <button id="answer4" data-class="4">Answer 4</button>
          <button id="answer5" data-class="5">Answer 5</button>
          <button id="answer6" data-class="6">Answer 6</button>
          <button id="answer7" data-class="7">Answer 7</button>
          <button id="answer8" data-class="8">Answer 8</button>
          <button id="answer9" data-class="9">Answer 9</button>
        </div>
      </div>
    </form>
    <!-- Start quiz button -->
    <button id="startquiz">Start Quiz</button>
  </div>
</div>

<script src="/js/form.js"></script>