<img src="/asset/dragon_art.jpg" class="background" />
<div class="login-card">
  <h2 class="page-title, login-font">Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="user-login" class="login-font">Username:</label>
      <input class="form-input" type="text" id="user-login" />
    </div>
    <div class="form-group">
      <label for="password-login" class="login-font">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary login-font" type="submit">Login</button>
      <button class="btn btn-primary btn-signup login-font" type="submit">Sign
        Up</button>
    </div>
  </form>
</div>
<div class="login-card signup-card hidden">
  <h2 class="page-title login-font">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup" class="login-font">Username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup" class="login-font">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary login-font" type="submit">Sign Up</button>
      <button
        class="btn btn-primary btn-login login-font"
        type="submit"
      >Login</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>