<!-- Skill Template -->
<div id="skill-details-template" style="display:none">
    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>Skill:</strong> {{skill}}</p>
    <p><strong>Description:</strong> {{description}}</p>
</div>
