<form id="question-form">
        {{!-- <h2>Multiple-Choice Questionnaire</h2>

        {{#each questions}}
        <div class="question">
            <p>{{this.questionText}}</p>
            {{#each this.choices}}
            <label>
                <input type="radio" name="{{../questionId}}" value="{{@index}}"> {{this}}
            </label>
            {{/each}}
        </div>
        {{/each}} --}}

        <button class= "formButton" type="submit">Submit</button>
    </form>
    <script>src="/js/form.js"</script>