<!-- Character_Spell Template -->
<div id="character-spell-details-template" style="display:none">
    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>Character ID:</strong> {{character_id}}</p>
    <p><strong>Spell ID:</strong> {{spell_id}}</p>
</div>
