<!-- Race Template -->
<div id="race-details-template" style="display:none">
    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Description:</strong> {{description}}</p>
</div>
