* {
  margin: 0;
}
:root {
  --primary: #000000;
  --secondary: #d47f11;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

.hidden {
  display: none;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Griffy";
  color: white;
  /* font-weight: bold; */
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.post {
  flex: 4;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  width: 90vw;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
}

.login-card {
  position: absolute;
  top: 250px;
  margin: 50px 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: thick;
  background-image: linear-gradient(rgb(16, 15, 15), rgb(243, 6, 6));
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.content,
.comment {
  padding: 10px;
}

.post-list {
  padding: 10px;
}

.stamp {
  font-size: 10px;
  text-align: end;
}

.background {
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-font {
  font-family: "Eater";
}

.strong {
  font-weight: bold;
}
.character-template {
  position: absolute;
  top: 250px;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.character-template h2 {
  color: var(--light);
  font-family: "Griffy";
  /* background-image: url('../asset/bb1.png'); */
  font-size: 2em;
}

.character-template h2:hover {
  color: var(--secondary);
  background-color: var(--light);
}
.character-info {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.character-image {
  float: right;
  width: 49%;
  text-align: center;
}
.box-outline {
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}
.character-stats {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;
}

h2 {
  padding: 0px;
  color: var(--light);
  font-family: "Griffy";
  font-size: 30px;
}

.character-abilities {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  justify-content: space-around;
}

.character-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-btn {
  color: white;
  cursor: pointer;
  font-size: 100%;
  transition: color 0.1s;
  border: none;
  background-image: url("../asset/fire.png");
}
.update-btn:hover {
  color: var(--primary);
  background-color: var(--dark);
}

#question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  /* z-index: 2; */
}

#question {
  background-color: #333;
  border: 2px solid #444;
  border-radius: 5px;
  width: 300px;
  color: white;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
}

.question-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answer-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffd700;
}

#startquiz {
  position: relative;
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Griffy";
}

#startquiz:hover {
  background-color: #00ff00;
}

.input {
  color: var(--light);
  font-family: "Griffy";
  font-size: 20px;
  /* z-index: auto; */
}

#nameInput {
  width: calc(var(--card-height) / 2);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#raceDropdown {
  padding: 5px;
}

.select {
  font-size: 15px;
  width: 100px;
}

.card-anchor {
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
}

.character-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  z-index: 1;
}

.character-card-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.character-card-image {
  height: 50vh;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 70%;
}

.btn-no-style {
  padding: 20px 14px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.magiccard {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: absolute;
  top: 300px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.magiccard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #ffb65d,
    #e33c3c 43%,
    #0e0221
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.magiccard::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.magiccard2 {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: absolute;
  top: 100px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.magiccard2::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #ffb65d,
    #e33c3c 43%,
    #0e0221
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.magiccard2::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.magiccard3 {
  background: #191c29;
  /* width: 40vw; */
  /* height: 40vh; */
  padding: 3px;
  margin: 5px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.magiccard3::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.magiccard3::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media screen and (max-width: 1180px) {
  h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Griffy";
    /* font-weight: bold; */
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }

  #nameInput {
    width: calc(var(--card-height) / 3);
    padding: 5px;
  }

  .input {
    width: calc(var(--card-height) / 3);
    font-size: 15px;
    margin: 5px;
    /* z-index: auto; */
  }

  #raceDropdown {
    padding: 5px;
  }

  #question {
    width: 250px;
    padding: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  :root {
    --card-height: 90vh;
    --card-width: calc(var(--card-height) / 2);
  }

  .character-template h2 {
    color: var(--light);
    font-family: "Griffy";
    /* background-image: url('../asset/bb1.png'); */
    font-size: 1em;
    padding: 10px;
  }
  .magiccard2 {
    top: 200px;
    height: 50vh;
    width: 60vw;
  }

  .character-stats {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .character-abilities {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-grow: grow;
  }
  .character-info {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
  }
  .character-image {
    float: right;
    width: 49%;
    text-align: center;
  }

  .character-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .character-card-stats p {
    margin: 0;
  }
}
